* {
  box-sizing: border-box;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main {
    width: 100%;
  }
}
body{
  background-color: #0e2433;
}
h1{
  color: white;
  font-family: "Sacramento", cursive;
  font-size: 5.6rem;
  line-height: 2;

  }

  h2{
    color: white;
    font-family: "Sacramento", cursive;
    font-size: 2rem;
    line-height: 2;

    }

    h3{
      color: white;
      font-family: "Sacramento", cursive;
      font-size: 3rem;
      line-height: 2;


      }
  .video{

    margin-top: 30px;
  }
